[Unit]
Description=OpenStack Image Service (code-named Glance) API server
After=syslog.target network.target

[Service]
Type=notify
NotifyAccess=all
Restart=always
User=root
ExecStart=/usr/bin/glance-registry
PrivateTmp=true

[Install]
WantedBy=multi-user.target
