[Unit]
Description=OpenStack Nova Objectstore Server
After=syslog.target network.target

[Service]
Type=notify
Restart=always
User=root
ExecStart=/usr/bin/nova-objectstore

[Install]
WantedBy=multi-user.target

